.preview-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.uniegle-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.uniegle-div .logo {
    font-family: "Comfortaa", sans-serif;
    font-size: 120px;
    color: rgb(255, 102, 0);
}

.uniegle-div .logo .logo-sup {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    margin-left: 3px;
    color: rgb(255, 102, 0) ;
}

.preview-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    text-align: center;
    background-color: rgb(255, 102, 0);
    border-radius: 20px;
    padding-top: 10px;
    padding: 20px;
    padding-bottom: 10px;
}

.preview-div .preview-organizer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.preview-div .preview-organizer h1 {
    font-size: 100px;
    color: rgb(255, 255, 255) ;
    margin-bottom: 5px;
    font-weight: bold;
}

.preview-div .preview-organizer h2 {
    font-size: 35px;
    color: rgb(255, 255, 255) ;
    margin-inline: 5px;
    margin-bottom: 30px;
    font-weight: bold;
}

.preview-div img {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 40%;
    border-radius: 30px;
}

.preview-div .preview-organizer .button-start {
    font-size: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1500px) {
    .preview-div .preview-organizer h1 {
        font-size: 57px;
    }
    
    .preview-div .preview-organizer h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .preview-div .preview-organizer h1 {
        font-size: 37px;
    }
    
    .preview-div .preview-organizer h2 {
        font-size: 18px;
    }

    .preview-div .preview-organizer .button-start {
        font-size: 30px;
    }

    .preview-div {
        padding-inline: 0px;
    }
}

@media screen and (max-width: 758px) {
    .preview-div {
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 700px) {
    .uniegle-div .logo {
        font-size: 90px;
    }
    
    .uniegle-div .logo .logo-sup {
        font-size: 16px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 600px) {
    .preview-div .preview-organizer h1 {
        font-size: 27px;
    }
    
    .preview-div .preview-organizer h2 {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .uniegle-div .logo {
        font-size: 60px;
    }
    
    .uniegle-div .logo .logo-sup {
        font-size: 12px;
        margin-left: 3px;
    }

    .preview-div .preview-organizer h1 {
        font-size: 22px;
    }
    
    .preview-div .preview-organizer h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .preview-div .preview-organizer .button-start {
        font-size: 18px;
    }
}


/*@media (max-width: 900px) {
    .preview-div h1 {
        font-size: 51px;
    }
    .preview-div h2 {
        font-size: 16px;
    }
}

@media (max-width: 740px) {
    .preview-div h1 {
        font-size: 31px;
        margin-top: 62px;
    }
    .preview-div h2 {
        font-size: 11px;
        margin-left: 11px;
    }
    .button-start{
        margin-top: 20px !important;
    }
}

@media (max-width: 450px) {
    .preview-div h1 {
        font-size: 24px;
        margin-top: 62px;
    }
    .preview-div h2 {
        font-size: 8px;
    margin-left: 16px;
    }
}

@media (max-width: 1800px) {
    .img-style {
        width: 765px;
        height: 412px;
        left: -69px;
        position: relative;
        top: -39px;
    }
}
@media (max-width: 750px){
    .img-style{
        left: -26px;
        position: relative;
        top: -39px;
    }
}*/

