.chat-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.chat-div .central-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.chat-div .video-div {
    display: flex;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.chat-div .video-div .my-cam {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-right: 1px solid black;
}

.chat-div .video-div .my-cam video {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.chat-div .video-div .my-cam .mobile-chat-button {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 10px;
    z-index: 3;
}

.chat-div .video-div .my-cam .mobile-chat-button .icon {
    font-size: 35px;
    color: white;
}

.chat-div .video-div .other-cam {
    display: flex;
    position: relative;
    width: 50%;
    border: 2px solid black;
    border-left: 1px solid black;
}

.chat-div .video-div .other-cam .logo {
    position: absolute;
    color: rgb(255, 102, 0);
    font-size: 20px;
    top: 10px;
    left: 15px
}

.chat-div .video-div .other-cam .logo-sup {
    color: rgb(255, 102, 0);
    font-size: 9px;
}

.chat-div .video-div .other-cam video {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.chat-div .video-div .other-cam .status-div {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.73);
    padding-bottom: 2px;
    padding-top: 2px;
}

.chat-div .video-div .other-cam .status-div .status-text {
    margin-left: 10px;
}

.chat-div .video-div .other-cam .status-div .icon {
    margin-bottom: 3px;
    margin-left: 3px;
}


.chat-div .content-div {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.chat-div .content-div .buttons-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chat-div .content-div .buttons-div .button {
    border-radius: 0px;
}

.chat-div .content-div .buttons-div .button-icon {
    margin-left: 4px;
    margin-top: -3px;
    font-size: 20px;
}

.close-drawer {
    display: flex;
}

.close-drawer .icon-button {
    margin-left: auto;
}

.close-drawer .icon-button .icon {
    font-size: 30px;
}

@media screen and (max-width: 550px) {
    .chat-div {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: start;
    }

    .chat-div .central-div {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .chat-div .video-div {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: calc(100% - 44px);
        background-color: black;
    }

    .chat-div .video-div .my-cam {
        display: flex;
        width: 100%;
        height: 50%;
        position: relative;
        align-items: center;
        justify-content: center;
        border-top: 0px solid black;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    .chat-div .video-div .my-cam video {
        display: flex;
        height: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .chat-div .video-div .other-cam {
        display: flex;
        width: 100%;
        height: 50%;
        border-bottom: 1px solid black;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }

    .chat-div .video-div .other-cam video {
        display: flex;
        height: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .chat-div .video-div .my-cam .change-camera-div {
        display: flex;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 3;
    }

    .chat-div .video-div .my-cam .change-camera-div .icon-button {
        width: 50px;
        height: 50px;
    }

    .chat-div .video-div .my-cam .change-camera-div .icon-button .icon {
        font-size: 35px;
        color: white;
    }

    .chat-div .content-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .chat-div .content-div .buttons-div {
        display: flex;
        margin-top: 2px;
    }
}