.setuserdata-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.setuserdata-div .form-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 700px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}

.setuserdata-div .backbutton-div {
    display: flex;
    width: 90%;
    margin-bottom: 10px;
}

.setuserdata-div .backbutton-div .icon {
    font-size: 16px;
    margin-right: 3px;
}

.setuserdata-div .form-div .description-div {
    margin-bottom: 20px;
    width: 90%;
    border-radius: 20px !important;
}

.setuserdata-div .form-div .description-div .MuiSvgIcon-root {
    color: rgb(255, 123, 34);
}

.setuserdata-div .description-div .description {
    font-size: 17px;
}

.setuserdata-div .form-div .divider {
    width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
}

.setuserdata-div .form-div .textfield {
    width: 90%;
    margin-bottom: 20px;
}

.setuserdata-div .form-div .image-buttons-div {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.setuserdata-div .form-div .selected-image-div {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    align-items: center;
}

.setuserdata-div .form-div .selected-image-div img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border: 1px solid black;
    background-color: rgb(182, 182, 182);
}

.setuserdata-div .form-div .main-buttons-div {
    display: flex;
    margin-top: 10px;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.setuserdata-div .form-div .button-icon {
    margin-left: 4px;
    margin-top: -3px;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .setuserdata-div .title {
        font-size: 2.5rem;
    }
    .setuserdata-div .description-div {
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .setuserdata-div .form-div {
        width: 100%;
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    .setuserdata-div .form-div .textfield {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .backdrop-logo {
        font-size: 60px !important;
    }

    .backdrop-logo-sup {
        font-size: 15px !important;
    }
}

@keyframes pulse {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  